@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Inter:wght@300&family=Shadows+Into+Light&family=Titillium+Web:wght@300&display=swap');


.middle-checklist-box-social {
    position: relative;
    top: 0;
    margin: 0 auto;
    height: calc(100vh - 5.23rem);
    width: 50%;
    background-color: white;
    padding: 10px 10px 10px 10px;
    bottom: 0%;
}

.checkbox-label-class {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    vertical-align: top;
    color: black;
}

.giannisCheckbox {
    height: 15px; 
    width: 15px;
}

.chkbxLowerLine {
    position: initial;
    height: 2px;
    width: 100%;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

#editBtn {
    background: white;
    padding: 10px 15px;
    display: block;
    float: right;
    color: black;
    border-radius: 10px;
    border: 2px solid grey;
    margin-left: 5px;
    
}

#editBtn:hover {
    background: white;
    color: black;
    border: 2px solid grey ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

#addBtn {
    background: white;
    padding: 10px 15px;
    display: none;
    float: right;
    color: black;
    border-radius: 10px;
    border: 2px solid grey;
    font-size: 15;
    margin-left: 5px;
}

#addBtn:hover {
    background: white;
    color: black;
    border: 2px solid grey ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

#doneBtn {
    background: white;
    padding: 10px 15px;
    display: none;
    float: right;
    color: black;
    border-radius: 10px;
    border: 2px solid grey;
    font-size: 15;
    
}

#doneBtn:hover {
    background: white;
    color: black;
    border: 2px solid grey ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
