@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Inter:wght@300&family=Shadows+Into+Light&family=Titillium+Web:wght@300&display=swap');

/* Here is the body style where we change the background */
body{
	background: linear-gradient(135deg, #5b5b5b, #00e696);
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    /* position: absolute; */
    font-size: 48px;
    opacity: 100;
    cursor: pointer;
    /* height: 0; */
    /* width: 0; */
  
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 2px;
    
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ffffff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Here is now the navagaiton for my site */
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: white;
  
}
#border {
border-radius: 50px;
}

li {
  float: left;
  width: 16.667%;
  transition-duration: 0.5s;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 1s;
  font-family: 'Inter', sans-serif;
  
}
li:hover {
  background-color: #5b5b5b;
}

li a:hover {
  background-color: #36454F; 
  color: white;
  
}
#homepageLink {
background-color: #CCCCCC;
}

.dropdown li {
position: relative;
display: inline-block;
border-radius: 10px;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #CCCCCC;
width: 17%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 10px;
}

.dropdown-content a {
color: black;
padding: 14px;
text-decoration: none;
display: block;
font-family: 'Inter', sans-serif;
}

.dropdown-content a:hover {background-color:#00e696; color: black;}

.dropdown:hover .dropdown-content{display:block;}
